platforms/*
copia--
platforms/browser/browser.json
platforms/browser/www/config.xml
platforms/browser/www/js/my-app.js
platforms/browser/www/js/my-app.js
platforms/browser/config.xml
platforms/browser/www/index.html
platforms/browser/www/js/my-app.js
platforms/browser/www/index.html
platforms/browser/www/config.xml