<?xml version='1.0' encoding='utf-8'?>
<widget id="es.lesytec" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>lesytec</name>
    <description>
       Registro de firmas para SignIN
    </description>
    <author email="dawspb16@gmail.com.com" href="http://lesytec.es">
        SPB - Lesytec
    </author>
    
    <content src="index.html" />
    <acceso origin ="*" />
    <icon src="www/img/logo.png" />
    <splash src="www/img/splash_hdpi.png"/>
   
     <gap:platform name="android" />
    <preference name="orientation" value="portrait"/>
    <preference name="fullscreen" value="false"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="SplashScreenDelay" value="1000"/>
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
       
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="www/img/splash_hdpi.png" density="port-hdpi"/>
        <splash src="www/img/splash_ldpi.png" density="port-ldpi"/>
        <splash src="www/img/splash_mdpi.png" density="port-mdpi"/>
        <splash src="www/img/splash_xhdpi.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />        
    </platform>

  

  



</widget>
